

<div class="container">
  <div class="row">
    <div class="col-md-6">
    <h1>Burgers!</h1>
    <img src="/assets/img/burger.png" alt="burger" width="300" height="250">
  </div>
  </div>
    <div class="row">
      <div class="col-md-6">
        <h2>Eat the burger!</h2>
        <ul>
          {{#each burgers}}
            {{#unless devoured}}
            <h2>{{this.id}}.{{this.burger_name}}</h2>
            <button class="eatBurger" data-id="{{this.id}}">Eat the Burger</button>
            {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Eaten burgers</h2>
        <ul>
          {{#each burgers}}
            {{#if devoured}}
              <h2>{{this.id}}.{{this.burger_name}}</h2>
              <button class="deleteBurger" data-id="{{this.id}}">Delete the Burger</button>
            {{/if}}
          {{/each}}
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Add a burger!</h2>
      <form class="create-form">
        <div class="form-group">
          <label for="bu">Burger Name:</label>
          <input type="text" id="bu" name="name">
        </div>
        <button type="submit">Add Burger</button>
      </form>
    </div>
  </div>
</div>
